body{
font-family: Arial, sans-serif;
margin:0;
background:#fff0f5;
}

section{
padding:40px;
}

.modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.modal.active{
display:flex;
}

.modal-box{
background:white;
padding:20px;
border-radius:10px;
width:300px;
}
